extends ../layout

block content
    h1= title
    form#newBook( method="POST" action="/newbook")
        p
            label(for='title') Title
            input.validate#title(type='text' name="title")
        p
            label(for='author') Author
            input.validate#author(type='text' name="author")
        p
            label(for='genre') Genre
            input.validate#genre(type='text' name="genre")
        p
            label(for='first_published') First Published
            input#first_published(type='text' name="first_published")
        p
            input.bookSubmit#newBookSubmit(type='submit' value='Create New Book')
